.login-form {
    display: grid;
    gap: 50px;
    justify-items: center;
    width: 100%;
    padding: 20px;
    border-radius: var(--radius-lesser);
    box-shadow: var(--box-shadow-default);
  
    @include min-tablet {
      width: 500px;
    }
  
    &__body,
    &__footer {
      display: grid;
      gap: 20px;
      width: 100%;
    }

    &__title {
        margin: 10px 0 0;
    }
}